VITE_APP_ENV=dev
VITE_APP_TITLE=gym-app
VITE_API_URL=
VITE_APP_DOMAIN=http://localhost:5173/
VITE_SUPABASE_URL=https://XXXXXXXXXXXXXXXXXXXX.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX